.page-home
  header.main-header
    hgroup.name
      p.lead Hi, I'm
      h1
        span.first Matthew
        span.last Lyon
      p I help humans and computers communicate.  I make code, photographs, encaustic paintings, synth bloops and beer.
  section.main-content
    .archive-list
      h3 Essays
      each article in collections.articles
        article
          header
            a(href=article.url)
              h1= article.title
              div.article-metadata
                time(pubdate=true datetime=formatDate(article.date, "YYYY-MM-DDTHH:mm:SSZ"))
                  = formatDate(article.date, "MMMM Do YYYY")
                if article.subtitle
                  h2= article.subtitle
