mixin section(name, wide, header)
  if page.sections[name]
    section(id=name class={ "article-section-2col": wide })
      if header
        h2= page.sections[name].title
      .section-content
        != page.sections[name].content

article.article-main
  +section("lead")

  if page.siblings['_banner.jpg']
    - var headerClass = 'article-header-banner'
    - var headerStyle = { 'background-image': 'url(/'+page.siblings['_banner.jpg'].url+')' }
  header.article-header(class=headerClass style=headerStyle)
    div.info(class=page.infoClass)
      h1(style=page.headerStyle): a(href=page.url)= page.title
      if page.subtitle
        h2= page.subtitle

  section.article-content!= content

  footer.article-footer(class={'article-footer-wide': page.footerWide})
    +section("further_reading", page.footerWide, true)
    +section("footnotes", page.footerWide, true)
    hr
    section#colophon
      h2 Colophon
      .section-content
        p
          a(href=page.full_url)
            i= page.title
          |  was first published to 
          a(href=site.url) #{site.name} by #{site.owner}
          |  on #{formatDate(page.date, 'Do MMM YYYY')}.
          |  All images (where applicable, unless otherwise noted) and text &copy; Matthew Lyon
          |  #{formatDate(page.date, 'YYYY')}.
        :markdown
          It is distributed under the [Creative Commons Attribution-Noncommercial-Share
          Alike 4.0 license](https://creativecommons.org/licenses/by-nc-sa/4.0/). If you 
          wish to reproduce any of this content in a commercial context,
          explicit permission is required.  Please contact me directly.

nav#article-relative-nav
  .later
    if page.previous
      a(rel="next" href="/"+page.previous.url) &laquo; #{page.previous.title}
    | &nbsp;
  .home
    a(rel="up" href=site.url) home
  .earlier
    | &nbsp;
    if page.next
      a(rel="prev" href="/"+page.next.url) #{page.next.title} &raquo;

